h1 {
    color: brown;
}
.header{
    background-color: palevioletred;
    display: flex;
    justify-content: space-between;
}
.games{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
p,h2{
    text-align: center;
}
.socialmedia{
    display: flex;
    justify-content: flex-end;
}